@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    background-color:#181818;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.image{
    width: 50px;
    background-color: #181818;
  }
  
.image-title{
    font-size: 20px;
    font-style: revert;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
  }
button{
    padding: 5px;
    color: white;
    background-color: #373737;
    border-radius: 10px ;
    border-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 55%;
    text-align: center;
}
.boton{
    padding: auto;
}
.botones{
    width: 23.7%;
    height: 4%;
    left: 0%;
    top: 0%;
}

.video{
    position: inherit;
    width: 75%;
    height: 80%;
    padding-left: 11%;
    padding-right: 3%;
    
}

.insertar{
    width: 100%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 10%;
}

#cover{
    color: white;
    width: 85%;
}

.posicion{
    float: inherit;
    padding-left: 13%;
    padding-top: 1%;
}

.icono{
    float: left;
    width: 10%;
    border: 1px solid #f7e8e8;
    box-sizing: border-box;
    border-radius: 44px;
}

.descripcionTitulo{
    letter-spacing: 0rem;
    font-size: 1rem;
    line-height: 1rem;
    padding-left: 25%;
    padding-right: 15%;
    padding-top: 0%;
    color: white;
    
}

.descripcion{
    color: white;
    line-height: 0.3rem;
    text-align: center;
    padding-right: 0.5%;
    padding-left: 0.5%;
}

.container{
    width: 100%;
    height: 100px;
}
 @media (min-width:767px){
    .image{
        width: 60px;
    }
    
    .image-title{
        font-size: 30px;
    }
    button{
        margin-left: 0.7%;
    }
    .video{
        width: 100%;
        display: contents;
        justify-content: center;
        align-items: center;
    }
    #cover{
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 5%;
    }
    
    .posicion{
        padding-left: 5%;
    }
    
    .icono{
        width: 15%;
    }
    
    .descripcionTitulo{
        padding-left: 20%;
        padding-right: 5%;
    }
    
    .descripcion{
        padding-top: 0.1%;
    }
    
    .container{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       grid-gap: 5px
    }
 }

 @media (min-width:1440px){
    .container-image{
        justify-content: left;
    }
    .image{
        width: 90px;
    } 
    .image-title{
        font-size: 50px;
    }
    button{
        font-size: 100%;
        text-align: center;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 5px
     }
 }